*{
  box-sizing: border-box;
  list-style: none;
  font-family: 'Abel', sans-serif;
}
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  color: black;
  text-align: center;
} 
h2{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}
h4{
  font-family: 'Amatic SC', cursive;
  font-size: 1.6em;
}
section {
  /* color: #fff; */
  text-align: center;
}

div {
  height: 100%;
}
a {
    color: #3c6382;
}
article{
    width: 80%;
    margin: 1% auto; 
    text-align: center;
    position: sticky;
}
#wedding{
    height: 175px;
}
#day1{
    height: 175px;
}
#day2{
    height: 175px;
}
#bottom-info{
    /* height: 50px; */
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
#bottom-info-disk{
    height: 100px;
    position: absolute;
    bottom: 25px;
    margin-top: 2em;
    text-align: center;
    width: 100%;
}
#algiers{
    height: 600px
}
#registry{
    height: 150px;
}
article > h2{
    text-align: center;
    margin-bottom: 2px;
}
article > p{
    margin-top: 4px;
}
nav{
  width: 50%;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.menu{
  flex-grow: 1;
  width: 33.33%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
}
.menu>h3{
  margin: auto;
}
.menu:hover{
  background-color: rgba(0,0,0,0.7);
}
/*#content > ul > li > article:nth-child(2){
    margin-top: 5%;
}*/
.activities{
    display: flex;
}
.activity-faceA{
    width: 50%;
    text-align: right;
    margin: 10px;
    /* padding: -100; */
}
.activity-faceB{
    width: 50%;
    text-align: left;
    margin: 10px;
}
.heightGone-faceA{
    height: inherit;
    text-align: right;
}
.heightGone-faceA > li{
    margin-top: 10px;
}
.heightGone-faceA > li:nth-child(1){
    margin-top: inherit;
}
.heightGone-faceB{
    height: inherit;
    text-align: left;
}
.heightGone-faceB > li{
    margin-top: 10px;
}
.heightGone-faceB > li:nth-child(1){
    margin-top: inherit;
}
#poll{
    margin-top: 550px;
    width: 100%;
    height: 175;
}
#nameInput, #messageInput{
    width: 40%;
}
#transport{
    width: 5%;
}
.attendance{
    color: green;
    opacity: 0;
    display: inline-block;
}

audio{ 
    width: 500px; 
    display: block;
    position: relative;
    align-content: center;  
}


/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half-1{
  background-image: url('/static/pictures/algerian_couple_wedding_EFE5D4.png');
  background-position: center;
  position: absolute;
  left: 0px;
  width: 50%;
}

.left-half-2{
  background-color: #efe4d4;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: whitesmoke;
  position: absolute;
  right: 0px;
  width: 50%;
}


/* HTML5 display-role reset for older browsers */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/**
 *  mod-singular
 */
.mod-singular {
	/* font-family: 'Raleway', sans-serif; */
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.mod-singular-section {
	box-sizing: border-box;
}
.mod-singular-section-in {
	box-sizing: border-box;
	height: 100%;
	padding: 10% 40px;
	text-align: center;
}
/* .mod-singular-ttl {
	font-size: 500%;
	font-weight: 900;
	margin-bottom: 50px;
} */
.mod-singular-txt {
	line-height: 1.2;
	margin: 1.5em 0;
}
.mod-singular-pre {
	background: rgba(0, 0, 0, 0.2);
	line-height: 1.2;
	margin: 1.5em auto;
	padding: 10px;
	text-align: left;
	width: 40%;
}
.mod-singular-options {
	border-top: 1px solid #fff;
	/* font-size: 100%; */
	margin: 1.5em auto;
	overflow: hidden;
	text-align: left;
	width: 60%;
}
.mod-singular-options-name {
	clear: both;
	float: left;
	padding: 1em 0;
	width: 12em;
}
.mod-singular-options-txt {
	border-bottom: 1px solid #fff;
	padding: 1em 0 1em 12.5em;
}
.mod-singular-pager a {
	background: #fff;
	border-radius: 25px;
	display: inline-block;
	height: 50px;
	margin: 0 15px;
	overflow: hidden;
	position: relative;
	text-indent: 100%;
	white-space: nowrap;
	width: 50px;
}
.mod-singular-pager a:before {
	border-top: 5px solid #efe4d4;
	border-left: 5px solid #efe4d4;
	content: "";
	display: block;
	height: 14px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 14px;
}
.mod-singular-prev:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -7px 0 0 -10px;
}
.mod-singular-next:before {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -13px 0 0 -10px;
}

.mod-nav {
	margin-top: -90px;
	position: fixed;
	right: 20px;
	top: 50%;
}
.mod-nav-item {
	margin: 20px 0;
}
.mod-nav-item a {
	background: #656565;
	border-radius: 10px;
	display: block;
	height: 15px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 15px;
}
.mod-nav-item a:hover,
.mod-nav-item a:focus,
.mod-nav-item.js-singular-active a {
	background: #efe4d4;
}


#app-cover
{
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
}

#player
{
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active
{
    top: -92px;
}

#album-name
{
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name
{
    position: relative;
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #e4c990;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #e4c990;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #d6d6de;
}

.button:hover i
{
    color: #fff;
}