<!doctype html>
<html>

<head>

    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/solid.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css'>
    <!-- <script ref="stylesheet" type="text/css" src="{{url_for('static', filename = 'main.css') }}}"></script> -->
</head>

<body>

    <div class="mod-singular js-singular">

        <div id="sec01" class="mod-singular-section">

            <section class="container">
                <div class="left-half-1">

                    <h1>Mehdi & Amina Afaf's Wedding</h1>
                    
                    <article id='bottom-info-disk'>
                        <hr align="center" width="90%" color='black' size=3>
                        <h4>Enjoy our first album ! Turn the page ! &#10552; </h4>
                    </article>

                </div>

                <div class="right-half">

                    <br />
                    <br />
                    <br />
                    <article id="wedding">
                        <h2>The Wedding</h2>
                        <p class="english">After our wedding in Paris, we're making in it again in Algiers!<br />
                            Celebrating this special occasion wouldn't be possible without our friends and family.
                            Please join us for two cerenmonies, on April 18th and 19th to celebrate.
                        </p>
                    </article>
                    
                    <article id="day1">
                        <h2>Thursday, April 18th 2019 </h2>
                        <p> The bride invites you at @<a href="https://lesjardinsdewarda.com/">Les jardins de Warda</a> a beautiful garden
                            and house located at Cheraga. See <a href="https://goo.gl/maps/FPvP5gJ6Pdw">Map</a>.</p>
                        <p>The ceremony begins at 18:00pm followed by dinner, drinks and dancing</p>
                    </article>
                    
                    <article id="day2">
                        <h2>Friday, April 19th 2019 </h2>
                        <p> The groom invites you @<a
                                href="https://www.ihg.com/holidayinn/hotels/us/en/cheraga-alger/algct/hoteldetail/events-facilities#">
                                Holiday Inn Algiers - Cheraga Tower</a></p>
                        <p>The ceremony will begin at 7:30. Dinner, drinks and live entertainment will follow: be sure to bring your dancing
                            shoes.
                            You can have access to the hotel facilities and enjoy the rooftop bar view. See <a
                                href="https://goo.gl/maps/T3ZTamP8iL32">Map</a></p>
                    </article>
                    
                    <article id='bottom-info'>
                        <h3>Any question ?</h3>
                        <p class="english">Should you have any questions, please feel free to contact us at
                            mehdi.brahimi.1@gmail.com or +33(0)635-025-920</p>
                        <!-- <p class="language french">Pour tout renseignement supplémentaire, contacter mehdi.brahimi.1@gmail.com ou appeler
                                            le +33(0)635-025-920</p> -->
                    </article>
                </div>
            </section>

        </div>

        <div id="sec02" class="mod-singular-section">

            <section class="container">
                <div class="left-half-2">
                    <h1>ACTIVITIES</h1>

                    <ul class="activities">
                        <li class="activity-faceA">
                            <h3>Side A - Arts and cultural activities</h3><br />
                            <ul class="heightGone-faceA">
                                <li> Pay a visit to the <a href="https://www.mama-dz.com/" target="_blank"> MAMA Musée d'Art Moderne et
                                        Contemporain </a>, the architecture of the building is astonnishing (2:44) </li>
                                <li> Go checkout some algerian art at the <a href="https://www.tripadvisor.com/Attraction_Review-g293718-d3454286-Reviews-Le_Musee_National_Des_Beaux_Arts-Algiers_Algiers_Province.html" target="_blank">National Museum of Fine
                                        Arts of Algiers</a> (2:12)</li>
                                <li> Learn about Algiers history by visiting <a
                                        href="https://www.tripadvisor.fr/Attraction_Review-g293718-d3454344-Reviews-Le_Bastion_23_Palais_des_Rais-Algiers_Algiers_Province.html"
                                        target="_blank">
                                        Le Bastion 23 - Palais des Raïs (2:12)</a></li>
                                <li> Have a taste of a Pacha's life at <a
                                        href='https://www.tripadvisor.fr/Attraction_Review-g293718-d3454289-Reviews-Musee_National_du_Bardo-Algiers_Algiers_Province.html'
                                        target="_blank">Le musée du Bardo</a> (3:47)</li>
                                <li> <a href="https://www.notre-dame-afrique.org/"> La Basilique de Notre-Dame d'Afrique </a> is one of the biggest cathedrals of algeria. The view from the Roman Catholic basilica is astonishing</li>
                                <li> <a href="https://www.tripadvisor.fr/Attraction_Review-g293718-d3454337-Reviews-Musee_Nationale_des_Arts_et_Traditions_Populaires-Algiers_Algiers_Province.html"> The Museum of Popular Arts and Traditions</a> is an art museum located in downtown Algiers. Its displays Algerian art, including rugs, jewellery, pottery and costumes.</li>
                                <li> <a href="https://www.tripadvisor.com/Attraction_Review-g293718-d3462119-Reviews-Cathedrale_du_Sacre_Coeur-Algiers_Algiers_Province.html"> Cathédrale du Sacré-Cœur d'Alger</a> is a Roman Catholic church located in Algiers, Algeria. Completed in 1956, it became the new cathedral in the capital after the Cathedral of Saint Philip of Algiers reconverted into a Muslim Ketchaoua Mosque. </li>
                                <li> <a href="https://www.tripadvisor.fr/Attraction_Review-g293718-d3474706-Reviews-Ketchaoua_Mosque-Algiers_Algiers_Province.html"> The Ketchaoua Mosque</a> is a mosque built during the Ottoman rule in the 17th century and is located at the foot of the Casbah, which is a UNESCO World Heritage Site </li>
                                
                            </ul>
                        </li>
                        <li class="activity-faceB">
                            <h3>Side B - Outdoor activities</h3><br />
                            <ul class="heightGone-faceB">
                                <li>You can have a coffee next to the one of the mythic places of algiers at the <a href="http://assiniboinepark.ca/" target="_blank">Milk Bar</a>. This is also a famous Café known for his role during the Algerian revolution</li>
                                <li>Ali bab <a href="http://www.theforks.com/" target="_blank">The
                                        Forks</a> and try the Tall Grass Prairie Bread Co.</li>
                                <li>You woke up late ? You can brunch in the middle of a forest at <a href="http://www.fortwhyte.org/" target="_blank">California Café </a></li>
                                <li>Or Maybe go for a swim at <a href="https://goo.gl/maps/Ja42cGbYzW22" target="_blank">Les Canadiennes
                                        (Terfaya)</a>. Yes... You can swin in April! </li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <article id='bottom-info-disk'>
                        <hr align="center" width="90%" color='black' size=3>
                        <h4>Enjoy the music and don't forget to confirm ! &#9758; </h4>
                    </article>
                    
                </div>
                <div class="right-half">

                    <div id="app-cover">
                        <div id="bg-layer"></div>
                        <div id="player">
                            <div id="player-track">
                                <div id="album-name"></div>
                                <div id="track-name"></div>
                                <div id="track-time">
                                    <div id="current-time"></div>
                                    <div id="track-length"></div>
                                </div>
                                <div id="s-area">
                                    <div id="ins-time"></div>
                                    <div id="s-hover"></div>
                                    <div id="seek-bar"></div>
                                </div>
                            </div>
                            <div id="player-content">
                                <div id="album-art">
                                    <img src="http://k007.kiwi6.com/hotlink/x0zubid8b4/mohamed-el-kamal-tik-tak.jpeg" class="active" id="_1">
                                    <img src="http://k007.kiwi6.com/hotlink/2rbpzd3318/bentir_-_scooter.jpeg" id="_2">
                                    <img src="http://k007.kiwi6.com/hotlink/8rgchmfds4/Mazouni.jpg" id="_3">
                                    <img src="http://k007.kiwi6.com/hotlink/k1ksc83anm/ABRANIS.jpg" id="_4">
                                    <img src="http://k007.kiwi6.com/hotlink/a43qt7vu8x/Freh_Khodja.jpg" id="_5">
                                    <div id="buffer-box">Buffering ...</div>
                                </div>
                                <div id="player-controls">
                                    <div class="control">
                                        <div class="button" id="play-previous">
                                            <i class="fas fa-backward"></i>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="button" id="play-pause-button">
                                            <i class="fas fa-play"></i>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="button" id="play-next">
                                            <i class="fas fa-forward"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    

                    <article id="registry">
                        <div id="poll">
                            <h2>RSVP</h2>
                            <p class="english">Kindly reply by July 30th 2016,Yes or No; Names of all guests (press enter
                                after replying Yes or No on the third box): </p>
                            <input type='text' id='nameInput' placeholder='Name/Family of guests'> <input type='text' id='messageInput' placeholder='Yes/No'>
                            <p class="english">Do you require transportation to and from the hotel :</p>
                            <input type="text" id="transport" placeholder="Y/N">
                            <p class="attendance"><strong>Attendance Confirmed!</strong></p>
                        </div>
                    </article>
                    
                    <article id='bottom-info'>
                        <p>This website was designed by Amina & Mehdi</p>
                    </article>
                </div>
            </section>

        </div>

    </div>

    <div class="mod-nav">
        <ul class="mod-nav-list js-singular-nav">
            <li class="mod-nav-item"><a href="#sec01"> Section 1 </a></li>
            <li class="mod-nav-item"><a href="#sec01"> Section 2 </a></li>
        </ul>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js'></script>
    
    <script src="/static/index.js"></script>

</body>

</html>